{% set navigation_bar = [
    ('/', 'index', 'Diary Entries'),
    ('/attachments', 'attachments', 'Attachments'),
    ('/highlights', 'highlights', 'Highlights'),
    ('/backup', 'backup', 'Backup'),
    ('/ideas', 'ideas', 'Ideas'),
    ('/todo', 'todo', 'To-Do'),
    ('/reminder', 'reminder', 'Test Reminder'),
    ('/happyness/check', 'happyness', 'Check Happyness'),
    ('/_ah/admin/', 'admin', 'Admin')
] -%}
{% set active_page = active_page|default('index') -%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }} &middot; Automatic Diary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="/assets/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/assets/stylesheets/main.css" rel="stylesheet">
    <script src="/assets/javascripts/jquery.js"></script>
  </head>

  <body>
    <div class="container-narrow">
        <div class="masthead">
        <ul class="nav nav-pills pull-right">
        {% for href, id, caption in navigation_bar %}
            <li{% if id == active_page %} class="active"{% endif%}>
            <a href="{{ href|e }}">{{ caption|e }}</a></li>
        {% endfor %}
        </ul>
        <h3 class="muted">Infinite Diary</h3>
      </div>
      <hr>
        {{ body }}
    </div>
  </body>
</html>
